
@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 900;
  src: local('Aileron'), local('Aileron-Black'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-Black.ttf?alt=media&token=a136ad3a-cda5-46dd-bed0-75f0699c22c0') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 900;
  src: local('Aileron'), local('Aileron-BlackItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-BlackItalic.ttf?alt=media&token=7be7b5af-1a51-4b8e-a02c-14b48fd19232') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 700;
  src: local('Aileron'), local('Aileron-Bold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-Bold.ttf?alt=media&token=927c16b4-3197-46eb-89cc-e3202aaf4c5d') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 700;
  src: local('Aileron'), local('Aileron-BoldItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-BoldItalic.ttf?alt=media&token=ab23ae8b-ea27-431b-8d3a-4e091776a120') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 800;
  src: local('Aileron'), local('Aileron-Heavy'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-Heavy.ttf?alt=media&token=6fa972cb-322a-4884-9c02-ad2d28e13947') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 800;
  src: local('Aileron'), local('Aileron-HeavyItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-HeavyItalic.ttf?alt=media&token=b47e01d3-81e4-4057-9707-906a133572e6') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 400;
  src: local('Aileron'), local('Aileron-Italic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-Italic.ttf?alt=media&token=4c74dac1-ed26-407c-afc2-58e0f64c878e') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 300;
  src: local('Aileron'), local('Aileron-Light'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-Light.ttf?alt=media&token=c645c14e-26b0-46b9-96f2-37c8a4d08cf3') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 300;
  src: local('Aileron'), local('Aileron-LightItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-LightItalic.ttf?alt=media&token=06616fa6-0ce0-4182-872e-37965362bc6d') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 400;
  src: local('Aileron'), local('Aileron-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-Regular.ttf?alt=media&token=c20015a7-5ea1-40a3-95c3-64c726cf2349') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 600;
  src: local('Aileron'), local('Aileron-SemiBold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-SemiBold.ttf?alt=media&token=6c871222-8f79-4b1f-83ce-c2d8e01db443') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 600;
  src: local('Aileron'), local('Aileron-SemiBoldItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-SemiBoldItalic.ttf?alt=media&token=8be25904-2a66-4e6b-b165-4e9849676f46') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 100;
  src: local('Aileron'), local('Aileron-Thin'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-Thin.ttf?alt=media&token=858c5ab4-95cc-4013-80a2-46468f3ce0c7') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 100;
  src: local('Aileron'), local('Aileron-ThinItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-ThinItalic.ttf?alt=media&token=cd244c9e-7f3d-40a6-bfcf-fe98b6cea2ab') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 200;
  src: local('Aileron'), local('Aileron-UltraLight'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-UltraLight.ttf?alt=media&token=f931578d-ab24-4d3e-b6f3-0888ce40eb5e') format('truetype');
}

@font-face {
  font-family: 'Aileron';
  font-style: italic;
  font-weight: 200;
  src: local('Aileron'), local('Aileron-UltraLightItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAileron-UltraLightItalic.ttf?alt=media&token=6f75bfb7-8932-4a1b-b23f-8f7017938b0c') format('truetype');
}


@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local('Aleo'), local('Aleo-Bold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAleo-Bold.woff2?alt=media&token=1839f21e-0031-41ed-8071-ea99cf130f33') format('woff2');
}

@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local('Aleo'), local('Aleo-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FAleo-Regular.woff2?alt=media&token=010ab97e-f5d9-4287-ac9c-feed4df22677') format('woff2');
}


@font-face {
  font-family: 'BodoniFLF';
  font-style: normal;
  font-weight: 700;
  src: local('BodoniFLF'), local('BodoniFLF-Bold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FBodoniFLF-Bold.ttf?alt=media&token=b744c840-82bd-4a5c-8de1-0ef8d3ff70b7') format('truetype');
}

@font-face {
  font-family: 'BodoniFLF';
  font-style: italic;
  font-weight: 700;
  src: local('BodoniFLF'), local('BodoniFLF-BoldItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FBodoniFLF-BoldItalic.ttf?alt=media&token=73c61d29-d725-4543-aaa6-b21cf5cb5a5a') format('truetype');
}

@font-face {
  font-family: 'BodoniFLF';
  font-style: italic;
  font-weight: 400;
  src: local('BodoniFLF'), local('BodoniFLF-Italic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FBodoniFLF-Italic.ttf?alt=media&token=de1b4473-e0ce-4d0a-ab86-ad414af9a22d') format('truetype');
}

@font-face {
  font-family: 'BodoniFLF';
  font-style: normal;
  font-weight: 400;
  src: local('BodoniFLF'), local('BodoniFLF-Roman'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FBodoniFLF-Roman.ttf?alt=media&token=79d5e026-8fce-4905-8dd0-267847c5bc50') format('truetype');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 700;
  src: local('Cooper Hewitt'), local('CooperHewitt-Bold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-Bold.woff?alt=media&token=415798ff-04aa-447e-8b78-f2a003b3eebe') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 700;
  src: local('Cooper Hewitt'), local('CooperHewitt-BoldItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-BoldItalic.woff?alt=media&token=1954a6f8-758b-42a7-a359-2f039bdb75df') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 400;
  src: local('Cooper Hewitt'), local('CooperHewitt-Book'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-Book.woff?alt=media&token=e0144411-2a04-474a-9302-53ef771ad7bb') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 400;
  src: local('Cooper Hewitt'), local('CooperHewitt-BookItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-BookItalic.woff?alt=media') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 900;
  src: local('Cooper Hewitt'), local('CooperHewitt-Heavy'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-Heavy.woff?alt=media&token=864cbdb4-bdeb-4b77-921a-e730c0426388') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 900;
  src: local('Cooper Hewitt'), local('CooperHewitt-HeavyItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-HeavyItalic.woff?alt=media&token=8ec9af7f-9f48-4d98-bb2b-15df89ba8fbc') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 300;
  src: local('Cooper Hewitt'), local('CooperHewitt-Light'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-Light.woff?alt=media&token=e930b1df-9aa4-4b41-a79d-d81f6ef53460') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 300;
  src: local('Cooper Hewitt'), local('CooperHewitt-LightItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-LightItalic.woff?alt=media&token=83c4f9c8-19d0-4649-aca4-c849adca5587') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 500;
  src: local('Cooper Hewitt'), local('CooperHewitt-Medium'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-Medium.woff?alt=media&token=1330d73d-918e-418b-9b3c-a8863ceb70aa') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 500;
  src: local('Cooper Hewitt'), local('CooperHewitt-MediumItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-MediumItalic.woff?alt=media&token=8b0a7845-2519-4b51-ad25-3e42270b7f0d') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 600;
  src: local('Cooper Hewitt'), local('CooperHewitt-Semibold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-Semibold.woff?alt=media&token=5a3da976-1794-4500-9cd6-e5102e4b48cb') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 600;
  src: local('Cooper Hewitt'), local('CooperHewitt-SemiboldItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-SemiboldItalic.woff?alt=media&token=06b0d850-b2fb-4a49-b824-680f14349ff2') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 100;
  src: local('Cooper Hewitt'), local('CooperHewitt-Thin'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-Thin.woff?alt=media&token=890000ff-b767-4f30-87ae-3a21bf73f74c') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 100;
  src: local('Cooper Hewitt'), local('CooperHewitt-ThinItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FCooperHewitt-ThinItalic.woff?alt=media&token=9b73d7c9-a76f-4047-b894-454bb1cee25e') format('woff');
}

@font-face {
  font-family: 'Edo';
  font-style: normal;
  font-weight: 400;
  src: local('Edo'), local('Edo-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fedo.ttf?alt=media&token=b2fedef6-86e1-448b-81bc-e303927d30b5') format('truetype');
}

@font-face {
  font-family: 'Gidole';
  font-style: normal;
  font-weight: 400;
  src: local('Gidole'), local('Gidole-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FGidole-Regular.otf?alt=media&token=4ec1f6f2-f0d2-4a38-bc3c-9f2092738b0c') format('opentype');
}


@font-face {
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: 700;
  src: local('Glacial Indifference'), local('GlacialIndifference-Bold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FGlacialIndifference-Bold.otf?alt=media&token=6e469c8e-4b3f-49d2-9aca-76b7fd9dcd04') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: italic;
  font-weight: 400;
  src: local('Glacial Indifference'), local('GlacialIndifference-Italic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FGlacialIndifference-Italic.otf?alt=media&token=496ca670-536e-4b48-95fe-13e3c44b4914') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: 400;
  src: local('Glacial Indifference'), local('GlacialIndifference-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FGlacialIndifference-Regular.otf?alt=media&token=1bf33f52-2a4b-4a8f-b10d-1e41ea8e10ce') format('opentype');
}


@font-face {
  font-family: 'IM Fell English Pro';
  font-style: italic;
  font-weight: 400;
  src: local('IM Fell English Pro'), local('IMFellEnglishPro-Italic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fim-fell-english-pro-italic.otf?alt=media&token=b07dccb2-3338-4669-97c8-a9cec88994ed') format('opentype');
}

@font-face {
  font-family: 'IM Fell English Pro';
  font-style: normal;
  font-weight: 400;
  src: local('IM Fell English Pro'), local('IMFellEnglishPro-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fim-fell-english-pro-regular.otf?alt=media&token=8a74fa9b-e844-4250-89aa-fb2623ca9cc3') format('opentype');
}

@font-face {
  font-family: 'Kollektif';
  font-style: normal;
  font-weight: 700;
  src: local('Kollektif'), local('Kollektif-Bold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FKollektif-Bold.ttf?alt=media&token=dd4ec232-8fca-4556-b9a4-134022c04e7c') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  font-style: italic;
  font-weight: 700;
  src: local('Kollektif'), local('Kollektif-BoldItalic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FKollektif-BoldItalic.ttf?alt=media&token=8d8a197b-826f-41be-8fff-0ae02f63d241') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  font-style: italic;
  font-weight: 400;
  src: local('Kollektif'), local('Kollektif-Italic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FKollektif-Italic.ttf?alt=media&token=c56291bb-11af-4c80-b949-cc2a044d909a') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  font-style: normal;
  font-weight: 400;
  src: local('Kollektif'), local('Kollektif-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FKollektif.ttf?alt=media&token=38fdd856-bbad-4e35-b0b7-b95dfe1cc97d') format('truetype');
}


@font-face {
  font-family: 'League Gothic';
  font-style: italic;
  font-weight: 400;
  src: local('League Gothic'), local('LeagueGothic-Italic'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fleaguegothic-italic-webfont.woff?alt=media&token=c95bdc28-38bd-45d8-8092-c55693f07009') format('woff');
}

@font-face {
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('League Gothic'), local('LeagueGothic-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fleaguegothic-regular-webfont.woff?alt=media&token=e2e15248-26ec-4f11-a152-c25baafd3db5') format('woff');
}


@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: local('League Spartan'), local('LeagueSpartan-Bold'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fleaguespartan-bold.woff2?alt=media&token=4dd60a06-3986-4c9f-a270-373a6b2ac984') format('woff2');
}


@font-face {
  font-family: 'Norwester';
  font-style: normal;
  font-weight: 400;
  src: local('Norwester'), local('Norwester-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fnorwester.woff?alt=media&token=8dde2d06-ac78-4dc8-a407-ad0124525d2e') format('woff');
}


@font-face {
  font-family: 'Peace Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Peace Sans'), local('PeaceSans-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fpeace-sans.otf?alt=media&token=e93a13ca-2f6f-40db-b921-6e875ed7432e') format('opentype');
}


@font-face {
  font-family: 'Playlist';
  font-style: normal;
  font-weight: 400;
  src: local('Playlist'), local('Playlist-Script'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FPlaylist-Script.otf?alt=media&token=a3dd0e10-49fb-4596-b68e-ee6843209cee') format('opentype');
}


@font-face {
  font-family: 'Rubik One';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik One'), local('RubikOne-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FRubikOne-Regular.ttf?alt=media&token=4873dd9d-c369-49ac-b1ed-3a4b163b6363') format('truetype');
}


@font-face {
  font-family: 'Sensei';
  font-style: normal;
  font-weight: 500;
  src: local('Sensei'), local('Sensei-Medium'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FSensei-Medium.otf?alt=media&token=32d0feda-dcc8-4c75-a6a1-309ffd56a3c1') format('opentype');
}

@font-face {
  font-family: 'Sifonn';
  font-style: normal;
  font-weight: 400;
  src: local('Sifonn'), local('Sifonn-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2Fsifonn_pro.otf?alt=media&token=806d3e7c-7b33-4e1d-b71f-7c0d0a998397') format('opentype');
}

@font-face {
  font-family: 'Voga';
  font-style: normal;
  font-weight: 500;
  src: local('Voga'), local('Voga-Medium'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FVoga-Medium.otf?alt=media&token=9e2aa296-2505-4589-bd55-bc33e8a12535') format('opentype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Bebas Neue'), local('BebasNeue-Regular'), url('https://firebasestorage.googleapis.com/v0/b/design-q.appspot.com/o/fonts%2FBebasNeue-Regular.otf?alt=media&token=3834a940-2bce-4358-828c-ec89c9148af5') format('opentype');
}

